name: Build Custom Image

on: workflow_dispatch

jobs:
  build:
    runs-on: image-generator-linux-24
    snapshot: katiem0-small-CustomImage
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup private key PEM file
        run: |
          # Write private key from secret to a secure file
          echo "${{ secrets.PRIVATE_KEY_PEM }}" | sudo tee /opt/pre-script-auth.pem
          sudo chmod 600 /opt/pre-script-auth.pem
      - name: Add pre-script
        run: |
          cp "${{ github.workspace }}/scripts/pre-script.sh" /opt/pre-script.sh
          sudo chmod +x /opt/pre-script.sh
          echo "ACTIONS_RUNNER_HOOK_JOB_STARTED=/opt/pre-script.sh" | sudo tee -a /etc/environment /root/actions-runner/.env
      - name: Add post-script
        run: |
          cp "${{ github.workspace }}/scripts/post-script.sh" /opt/post-script.sh
          sudo chmod +x /opt/post-script.sh
          echo "ACTIONS_RUNNER_HOOK_JOB_COMPLETED=/opt/post-script.sh" | sudo tee -a /etc/environment /root/actions-runner/.env
      - name: verification
        run: openssl rsa -in /opt/pre-script-auth.pem -pubout -outform DER | openssl sha256 -binary | openssl base64
