name: Image ubuntu24 Build with Proxy - /etc/environment

on:
  push:
    paths:
      - '.github/workflows/image-ubu24-with-proxy.yml'
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    runs-on: image-generator-linux-24
    snapshot: proxy-image-ubu24-x64
    steps:
      - name: Add proxy to /etc/environment
        run: |
          echo "HTTP_PROXY=10.0.2.4:3128" | sudo tee -a /etc/environment
          echo "HTTPS_PROXY=10.0.2.4:3128" | sudo tee -a /etc/environment
          echo "NO_PROXY='localhost,127.0.0.1,localaddress,.localdomain.com'" | sudo tee -a /etc/environment
      - name: Checkout
        uses: actions/checkout@v5.0.0
      - name: Setup private key PEM file
        run: |
          # Write private key from secret to a secure file
          echo "${{ secrets.PRIVATE_KEY_PEM }}" | sudo tee /opt/pre-script-auth.pem
          sudo chmod 644 /opt/pre-script-auth.pem
      - name: Add pre-script
        run: |
          cp "${{ github.workspace }}/scripts/pre-script.sh" /opt/pre-script.sh
          sudo chmod +x /opt/pre-script.sh
          echo "ACTIONS_RUNNER_HOOK_JOB_STARTED=/opt/pre-script.sh" | sudo tee -a /etc/environment /root/actions-runner/.env

      - name: Add post-script
        run: |
          cp "${{ github.workspace }}/scripts/post-script.sh" /opt/post-script.sh
          sudo chmod +x /opt/post-script.sh
          echo "ACTIONS_RUNNER_HOOK_JOB_COMPLETED=/opt/post-script.sh" | sudo tee -a /etc/environment /root/actions-runner/.env

      - name: Add pre-defined variables
        run: |
          echo "TEST_VARIABLE=value1" | sudo tee -a /etc/environment /root/actions-runner/.env
          echo "TEST_ENV_REQUIRED=needed-for-everything" | sudo tee -a /etc/environment /root/actions-runner/.env

      - name: Add pre-defined variables to /etc/environment
        run: |
          echo "TEST_VARIABLE=value1" | sudo tee -a /etc/environment
          echo "TEST_ENV_REQUIRED=needed-for-everything" | sudo tee -a /etc/environment

      - name: Add pre-defined variables to /root/actions-runner/.env
        run: |
          echo "TEST_VARIABLE=value1" | sudo tee -a /root/actions-runner/.env
          echo "TEST_ENV_REQUIRED=needed-for-everything" | sudo tee -a /root/actions-runner/.env
