name: Win - Image Build with Proxy

on:
  push:
    paths:
      - '.github/workflows/image-win22-proxy-env.yml'
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    runs-on: image-generator-win2022
    snapshot: proxy-img-win22-x64
    steps:
      - name: Set HTTP_PROXY (Machine)
        run: |
          [Environment]::SetEnvironmentVariable('http_proxy', '10.2.2.4:3128', [System.EnvironmentVariableTarget]::Machine)
      - name: Set HTTPS_PROXY (Machine)
        run: |
          [Environment]::SetEnvironmentVariable('https_proxy', '10.2.2.4:3128', [System.EnvironmentVariableTarget]::Machine)
      - name: Set no_proxy (Machine)
        run: |
          [Environment]::SetEnvironmentVariable('no_proxy', 'localhost,127.0.0.1,168.63.129.16,10.2.2.4', [System.EnvironmentVariableTarget]::Machine)
      - name: Set WinHTTP Proxy
        run: |
          new-item proxy.json
          set-content .\proxy.json '{
          "ProxyIsEnabled": true,
          "Proxy": "10.2.2.4:3128",
          "ProxyBypass": "localhost;127.0.0.1;10.2.2.4;168.63.129.16",
          "AutoConfigIsEnabled": false,
          "AutoDetect": false,
          "PerUserProxySettings": false
          }'

          get-content .\proxy.json

          netsh winhttp set advproxy setting-scope=machine settings-file=.\proxy.json
          netsh winhttp show advproxy
